

input{
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    color: #1a4557;
}

input:focus{
    outline: none;
    border: 3px solid #48BBED;
}

button{
    width: 60px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #48BBED;
    color: white;
    cursor: pointer;
}

.group{
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.chat{
    flex: 9;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    overflow-y: auto;
    scroll-behavior: smooth;
    border: 3px solid #48BBED;
}

.chat::-webkit-scrollbar{
    display: none;
}

.user{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.user p{
    background-color: #1a4557;
    padding: 15px;
    border-radius: 10px;
    color: white;
    max-width: 50%;
    text-wrap: wrap;
    word-break: break-all;
    position: relative;
}

.user p h5{
    text-align: end;
}



.sender{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.sender p{
    background-color: #48BBED;
    padding: 10px;
    padding-top: 5px;
    border-radius: 10px;
    color: white;
    max-width: 50%;
    text-wrap: wrap;
    word-break: break-all;
}

.sender p h5{
    margin: 0;
    margin-bottom: 2px;
}

.input{
    flex: 1;
}

