.loading1{
    height: 80px;
    width: 80px;
    background: url("/whats app.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: rotate 1.5s ease 0s infinite;
    z-index: 1;

}

.loading1 p{
    position: absolute;
    top: 110%;
    font-size: 1.5rem;
    animation: none;
    color: #48BBED;
}

.loading2{
    display: none;
}