.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100dvh;
    color: #48BBED;
}

.Login img{
    width: 100px;
    border-radius: 50%;
    transition: all 0.5s ease;
    animation: bounce 3s ease ;
}

.Login h1{
    margin: 0;
}

.box{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 5px solid #48BBED;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.5s ease;
    animation: bounce 3s ease ;
}

.box input{
    border: 3px solid #48BBED;
    box-shadow: 5px 5px 20px ;
    font-size: 1.2rem;
    color: #48BBED;
}

.box button{
    width: 60%;
    font-size: 1.2rem;
    background-color: #48BBED;
}


@keyframes bounce {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}