.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100dvh;
    color: darkgreen;
}

.box{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 5px solid darkgreen;
    padding: 10px;
    border-radius: 20px;
    background-color: lightgreen;
}

.box input{
    border: 3px solid darkgreen;
    box-shadow: 5px 5px 20px ;
    font-size: 1.2rem;
    color: darkgreen;
}

.box button{
    width: 60%;
    font-size: 1.2rem;
}