html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent unwanted scrolling */
}

.app {
    background-color: #48BBED;
    display: flex;
    flex-direction: column;
    position: relative;
}



.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 50px;
    background-color: #1a4557;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header img{
    width: 40px;
    border-radius: 50%;
    margin-top: 5px;
    animation: rotate1 2s linear 0s infinite;

}

.header .you1 i {
    font-size: 2rem;
    cursor: pointer;
    color: #48BBED;
}

.header .you2 i {
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

.body {
    background-color: #1a4557;
    padding: 5px;
    height: calc(var(--vh, 1vh) * 100 - 50px);
    overflow-y: auto; /* Allow scrolling within body if needed */
}

.loading1{
    height: 80px;
    width: 80px;
    background: url("/whats app.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: rotate 1.5s ease 0s infinite;
    z-index: 10;

}

.loading1 p{
    position: absolute;
    top: 110%;
    font-size: 1.5rem;
    animation: none;
    color: #48BBED;
}

.loading2{
    display: none;
}


@keyframes rotate {
    0%{
        opacity: 0;

    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}

@keyframes rotate1 {
    0%{
        rotate: 0deg;

    }
    100%{
        rotate: 360deg;
    }
    
}