.app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 50px;
    background-color: lightgreen;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header .you1 i{
    font-size: 2rem;
    cursor: pointer;
    color: darkgreen;
}

.header .you2 i{
    font-size: 2rem;
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke: 3px darkgreen
}

.body{
    background-color: lightgreen;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

